@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-Normal.eot');
	src: url('fonts/Solomon-Sans-Normal.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Normal.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Normal.woff') format('woff'),
		url('fonts/Solomon-Sans-Normal.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-Black-Italic.eot');
	src: url('fonts/Solomon-Sans-Black-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Black-Italic.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Black-Italic.woff') format('woff'),
		url('fonts/Solomon-Sans-Black-Italic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-Thin.eot');
	src: url('fonts/Solomon-Sans-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Thin.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Thin.woff') format('woff'),
		url('fonts/Solomon-Sans-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-Bold-Italic.eot');
	src: url('fonts/Solomon-Sans-Bold-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Bold-Italic.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Bold-Italic.woff') format('woff'),
		url('fonts/Solomon-Sans-Bold-Italic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-Normal-Italic.eot');
	src: url('fonts/Solomon-Sans-Normal-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Normal-Italic.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Normal-Italic.woff') format('woff'),
		url('fonts/Solomon-Sans-Normal-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-Black.eot');
	src: url('fonts/Solomon-Sans-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Black.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Black.woff') format('woff'),
		url('fonts/Solomon-Sans-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-Bold.eot');
	src: url('fonts/Solomon-Sans-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Bold.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Bold.woff') format('woff'),
		url('fonts/Solomon-Sans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-Light.eot');
	src: url('fonts/Solomon-Sans-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Light.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Light.woff') format('woff'),
		url('fonts/Solomon-Sans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-SemiBold.eot');
	src: url('fonts/Solomon-Sans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-SemiBold.woff2') format('woff2'),
		url('fonts/Solomon-Sans-SemiBold.woff') format('woff'),
		url('fonts/Solomon-Sans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('fonts/Solomon-Sans-Bold.eot');
    src: url('fonts/Solomon-Sans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Solomon-Sans-Bold.woff2') format('woff2'),
    url('fonts/Solomon-Sans-Bold.woff') format('woff'),
    url('fonts/Solomon-Sans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-Thin-Italic.eot');
	src: url('fonts/Solomon-Sans-Thin-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Thin-Italic.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Thin-Italic.woff') format('woff'),
		url('fonts/Solomon-Sans-Thin-Italic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Solomon Sans Book';
	src: url('fonts/Solomon-Sans-Book-Italic.eot');
	src: url('fonts/Solomon-Sans-Book-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Book-Italic.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Book-Italic.woff') format('woff'),
		url('fonts/Solomon-Sans-Book-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Solomon Sans Book';
	src: url('fonts/Solomon-Sans-Book.eot');
	src: url('fonts/Solomon-Sans-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Book.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Book.woff') format('woff'),
		url('fonts/Solomon-Sans-Book.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-SemiBold-Italic.eot');
	src: url('fonts/Solomon-Sans-SemiBold-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-SemiBold-Italic.woff2') format('woff2'),
		url('fonts/Solomon-Sans-SemiBold-Italic.woff') format('woff'),
		url('fonts/Solomon-Sans-SemiBold-Italic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Solomon Sans';
	src: url('fonts/Solomon-Sans-Light-Italic.eot');
	src: url('fonts/Solomon-Sans-Light-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Solomon-Sans-Light-Italic.woff2') format('woff2'),
		url('fonts/Solomon-Sans-Light-Italic.woff') format('woff'),
		url('fonts/Solomon-Sans-Light-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
