.pull-left {float: left;}
.pull-right {float: right;}

.main-container {
  .center();
  max-width: 1172px;
  padding: 0 12px;  
}

.hidden {display: none!important;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-uppercase {text-transform: uppercase;}

.w-colored {
  min-height: 100vh;
  background: linear-gradient(71.44deg, #E79068 8.03%, #681554 100%);
  background-attachment: fixed;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.text-blue {
  color: #1D9DFC!important;
}

.text-red {
  color: #F95682!important;
}

.text-green {
  color: #52BA06!important;
}