body , html {height: 100%;}

body {
  margin: 0;
  padding: 0;
  font-family: @baseFontFamily;
  font-weight: 400;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background: #fff;
  min-width:320px;
}

* {.box-sizing(border-box);}

.pure-g [class *="pure-u"],
.pure-g {
	font-family: @baseFontFamily;
}

.pure-g {
	margin: 0 -6px;
	[class *="pure-u"] {padding: 0 6px;}
} 

.pure-middle {
	[class *="pure-u"] {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;		
	}

	.pure-inner {
		margin: auto;
		width: 100%;
	}
}

.slick-slider * {outline: 0;}