#main {
	overflow: hidden;
	min-height: 100%;
}

.cd-section {
	position: relative;
/*	>div {		
		padding-bottom: 100px;
	}*/
}

.section-darken {
	background: #ecf0f7;
	.cd-next {background: url('@{rootUrl}next-btn-bg-white.png') no-repeat center bottom;}
}

.cd-next {
	position: absolute;
	z-index: 500;
	bottom: 0;
	left: 50%;
	text-align: center;
	.size(134px;36px);
	margin-left: -67px;
	background: url('@{rootUrl}next-btn-bg-darken.png') no-repeat center bottom;
	background-size: contain;
	padding: 8px;
	text-decoration: none;
	.transition(0.3s all ease);

	&:hover {
		padding-top: 13px;
	}

	span {		
		position: relative;
		.transition(0.3s all ease);
	}
}

.page-top {
	background: #f9942b; /* Old browsers */
	background: -moz-linear-gradient(left, #f9942b 0%, #fa21cf 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f9942b 0%,#fa21cf 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f9942b 0%,#fa21cf 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9942b', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	color: #fff;
	padding-bottom: 60px;
	position: relative;

	.cd-next {
		background: url('@{rootUrl}next-btn-bg-white.png') no-repeat center bottom;
		left: 25%;
	}

	.icon-book {
		margin: 11px 0 0;
		display: block;
	}
}

.page-top__title {
	p {font-size: 16px;}
}

.base {
	padding: 50px 0;

	.articles {padding-top: 0;}
}

.base__item {
	h2,.h2 {
		font-size: 37px;

		.qty {
			color: #d9dfe9;
		}
	}
}

.post-page {
	.search-form {
		margin: 10px 0 0;

		input[type="text"],
		input[type="password"],
		input[type="search"],
		input[type="email"],
		textarea {
			color: #fff;
			.placeholder(#fff);
			.border-radius(8px);
		}
	}
}

.lang-ua {
	background: url(../css/images/lang-ua.png) no-repeat center left;
	background-size: 44px 44px;
}

.lang-ru {
	background: url(../css/images/lang-ru.png) no-repeat center left;
	background-size: 44px 44px;
}

.lang-by {
	background: url(../css/images/lang-by.png) no-repeat center left;
	background-size: 44px 44px;
}

.lang-us {
	background: url(../css/images/lang-us.png) no-repeat center left;
	background-size: 44px 44px;
}


.case__mo {
	margin:0;
}

@-ms-viewport{
	width:device-width;
	zoom:1;
}

html {
	-webkit-text-size-adjust: none
}

@media(max-width: 567px) {
	.page-top__title p {font-size: 13px;}
}

