h1,.h1 {
	display: block;
	margin: 10px 0;
	line-height: 1.2;
	font-size: 52px;
	font-weight: 400;	
}

h2,.h2 {
	display: block;
	margin: 0;
	line-height: 1.2;
	font-size: 47px;
	font-weight: 400;
	font-family: 'Solomon Sans Book';
	color: #334561;
}

h3,.h3 {
	display: block;
	font-size: 25px;
	font-family: 'Solomon Sans Book';
	margin: 0 0 10px;
}

h4,.h4 {
	display: block;
	font-size: 15px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 700;
	letter-spacing: 0.3px;
}

h5,.h5 {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1.3px;
}

h6,.h6 {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	font-size: 11px;
}


.link {
	color: inherit;
	text-decoration: underline;
	
	&:hover {text-decoration: none;}
}

.section-title {
	display: block;
	max-width: 920px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0 27px;

	h5,.h5 {
		color: @blue;
		margin: 0 0 5px;
	}

	p {
		font-size: 17px;
		color: #808995;
		line-height: 1.75;
		margin: 16px 0;
	}
}

.post {
	padding: 50px 0;
}

.text-page {
	margin: 0 -20px;	
	background: #fff;
	.border-radius(10px);
	overflow: hidden;
	.box-shadow(0 5px 10px fade(#000, 10%));
}

.text-page__content {
	padding: 65px 110px;
	font-size: 17px;

	h2,.h2 {margin: 0 0 10px;}

	.articles-item__author {margin: 0 0 30px;}

	p {
		display: block;
		margin: 0 0 20px;
		color: #575f6a;

		b {color: #1b2026;}
	}

	a {
		display: inline-block;
		color: @blue;
		text-decoration: underline;

		&:hover {text-decoration: none;}
	}

	img {
		display: block;
		max-width: 100%;
		margin: 0 0 20px;
	}
}

.text-page__bottom {
	text-align: right;
	padding: 15px 18px 12px;
	border-top: 1px solid #e1e6ec;
	background: #f6f7fa;
}

.sub-info {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #9B9196;
  margin: 0;
}

@media(max-width: 1023px) {
	.text-page {margin: 0;}

	.text-page__content {padding: 30px 15px;}
}

@media(max-width: 767px) {
	h1,.h1 {font-size: 40px;}
	h2,.h2 {font-size: 35px;}
	.section-title p {font-size: 15px;}
}

@media(max-width: 567px) {
	h5,.h5 {font-size: 12px;}
	h1,.h1,h2,.h2 {font-size: 28px;}

	.section-title p {font-size: 13px;}
}