// Fonts

@baseFontFamily:'Solomon Sans', sans-serif;
@baseFontSize: 14px;
@baseLineHeight: 1.5;
@textColor: #000;

// color
@yellow:			#ffe241;
@blue:				#1d9dfc;
// root
@rootUrl: "../css/images/";
