.articles {
	padding: 39px 0;
	overflow: hidden;

	.main-container {max-width: 1023px;}

	.tab-block {
		padding-top: 12px;
	}

	.tab-btn-row {
		margin: 0 0 48px;
		float: left;
	}

	.tab-btn {
		display: inline-block;
		vertical-align: middle;
		padding: 8px 19px;
		letter-spacing: 0.5px;
		.border-radius(20px);
		background: transparent;
		color: #7a858e;
		text-decoration: none;
		font-size: 12px;
		text-transform: uppercase;
		.transition(0.3s all ease);

		&:hover,
		&.active {
			background: #ecf0f7;
			color: @blue;
		}
	}

	.pure-g {
		margin: 0 -10px;
		[class *="pure-u"] {padding: 0 10px;}
	} 
}

.articles__subscribe {
	float: right;
	margin: 5px -6px 0 10px;

	a {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		text-decoration: none;
	}


	.subscribe-btn {
		margin-top: -3px;
		margin-left: 19px;
	}
}

.subscribe-btn {
	display: inline-block;
	color: #5e7278;
	background: #fff;
	.border-radius(8px);
	border: 1px solid #5e7278;
	padding: 9px 17px 7px;
	font-weight: 600;
	font-size: 11px;
	text-decoration: none;
	letter-spacing: 0.57px;
	.transition(0.3s all ease);

	&:hover {
		color: #fff;
		background: #5e7278;
	}
}

.articles-item {
	display: block;
	margin-bottom: 40px;
	text-decoration: none;
	color: #575e6a;
}

.articles-item__img {
	display: block;
	.border-radius(6px);
	overflow: hidden;
	margin-bottom: 19px;

	img {
		display: block;
		width: 100%;
	}
}

.articles-item__content {	
	font-size: 16px;
	margin: 0 1px;

	p {margin: 0;}
}

.articles-item__title {
	display: block;
	text-decoration: none;
	color: #313742;
	font-size: 23px;
	font-weight: 700;
	margin: 0 0 11px;
	line-height: 1.1;
}

.articles-item__author {
	display: block;
	padding-left: 47px;
	.clearfix();
	margin-top: 17px;
	font-size: 14px;

	p {margin: 0;}

	.date {
		display: block;
		font-size: 12px;
		color: fade(#313742, 40%);
	}
}

.articles-item__pic {
	float: left;
	margin-left: -48px;
	.square(37px);
	.border-radius(100%);
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}

.articles__slider {
	margin: 32px 0 18px;

	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -23px;
		.square(46px);
		background: #fff;
		.border-radius(100%);
		.opacity(0.7);
		.transition(0.3s all ease);
		text-align: center;
		z-index: 100;
		text-decoration: none;

		&:hover {.opacity(1);}

		span {
			display: block;
			position: relative;
			top: 50%;
			margin: -6px auto 0;
		}
	}

	.slick-prev {left: 30px;}
	.slick-next {right: 30px;}

	.item {padding: 0 10px;}

	.articles-item {
		max-width: 650px;
		.center();	
		margin-bottom: 0;	
		.clearfix();
	}

	.articles-item__img {
		float: left;		
		width: 48%;
	}

	.articles-item__content {
		float: right;
		width: 48%;

		p {
			line-height: 1.4;
			margin: 0 0 -4px;
		}
	}
}

@media(max-width: 767px) {
	.articles .tab-btn-row {
		padding: 20px 0 0;
		margin: 0 0 20px;
		float: none;
		clear: both;
		width: 100%;
		text-align: center;
	}
}

@media(max-width: 567px) {
	.articles .tab-btn {padding: 8px;}
	.articles-item__content {font-size: 14px;}

	.articles__slider {
		.articles-item__img,
		.articles-item__content {
			float: none;
			width: 100%;
			margin-bottom: 10px;
		}
	}
}