.btn {
	display: inline-block;
	text-decoration: none!important;
	color: #053337;
	.border-radius(7px);
	background: @yellow;
	padding: 19px 57px 16px;
	font-size: 16px;
	font-weight: 600;
	.box-shadow(0 3px 8px fade(#7d2d2b, 28%));
	.transition(0.3s all ease);
	position: relative;
	text-align: center;
	font-family: @baseFontFamily;

	&:hover {
		background: darken(@yellow, 10%);		
	}

	.hint {
		position: absolute;
		width: 100%;
		font-size: 14px;
		color: #ffc3cd;
		top: 100%;
		left: 0;
		margin: 12px 0 0;
	}
}

.btn-pale {
	background: fade(#bfb2ff, 10%);
	color: #fff;
	padding: 12px 23px 12px 28px;
	font-weight: 400;
	.border-radius(6px);
	font-size: inherit;
	.box-shadow(none);

	&:hover {
		background: fade(#bfb2ff, 25%);
		text-decoration: none;
	}
}

.btn-gray {
	background: #ecf0f7;
	.box-shadow(none);

	&:hover {background: darken(#ecf0f7, 5%);}
}

.btn-fwd {
	padding: 16px 21px 14px;
	font-size: 15px;
	color: #8896a0;

	.icon {
		display: inline-block;
		vertical-align: middle;
		margin: -2px -5px 0 16px;
	}
}

.video-btn {
	.size(91px;48px);
	background: url('@{rootUrl}video-bg.jpg') no-repeat center;
	background-size: cover;
	.border-radius(8px);
	overflow: hidden;
	text-align: center;

	&:hover {
		.icon {.opacity(1)}
	}

	.icon {
		position: relative;
		top: 50%;
		.translate(0;-50%);
		.opacity(0.7);
		.transition(0.3s all ease);
	}
}


@media(max-width: 567px) {
	.btn {padding: 15px 40px;}

	.btn-pale {padding: 12px 23px;}
}