.cabinet {
  background: #fff;
  border-radius: 20px;
  margin: 34px auto;
  //width: 1000px;
  max-width: 100%;

  .packages {
    padding: 11px 0 0;
  }
  
  .tab-item {
    display: none;
    
    &.active {
      display: block;
    }
  }
}

.cabinet-nav {
  .tab-btn-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #EBE8E8;

    .tab-btn {
      width: 33.3%;
      height: 84px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      text-decoration: none;
      color: #777E8D;
      font-size: 20px;
      line-height: 1.2;
      font-weight: bold;
      transition: 0.3s color ease;

      &:before ,
      &:after {
        display: block;
        content: '';
        position: absolute;
      }

      &:before {
        top: 100%;
        left: 50%;
        height: 1px;
        width: 0;
        background: #1D9DFC;
        transition: 0.3s left ease, 0.3s width ease;
      }

      &:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7.5px 0 7.5px;
        border-color: #1D9DFC transparent transparent transparent;
        top: 100%;
        left: 50%;
        transform: translate(-50%,0);
        opacity: 0;
        transition: 0.3s opacity ease;
      }

      &.active ,
      &:hover {
        &:before {
          width: 100%;
          left: 0;
        }
      }

      &:hover {
        color: #222;
      }

      &.active {
        color: #1D9DFC;


        &:after {
          opacity: 1;
        }
      }
    }
  }

  .tab-item {
    padding: 65px 61px;

    h3 {
      font-family: 'Solomon Sans', sans-serif;
      font-weight: bold;
      font-size: 27px;
      line-height: 1.18;
    }
  }
}

.payment-t {
  margin: 21px 0 0;
}

.table-order {
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #9B9196;
    border-bottom: 1px solid #EBE8E8;
    padding: 11px 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  td {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #053337;
    padding: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  tr {
    &:nth-child(2) td {
      padding-top: 20px;
    }
  }
}

.questionnaire {
  text-align: center;

  &__item {
    margin-bottom: 60px;

    &--1 {
      margin-bottom: 43px;
    }

    &--3,
    &--5 {
      .radio-list__text {
        min-width: 120px;

        @media(max-width: 568px) {
          min-width: 0;
        }
      }
    }
  }
}

.user-info {
  padding: 12px;
  background: #F4F5F7;
  border-radius: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;

  &__img {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #053337;
    margin-left: 10px;
  }
}

.u-info {
  display: flex;
  flex-wrap: wrap;

  &__aside {
    width: 360px;
  }

  &__cont {
    width: calc(100% - 360px);
    padding-left: 30px;
  }
}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 30px 0 25px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  text-align: center;
  min-height: 100px;

  img {
    width: 100%;
    height: auto;
  }

  &-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

  &-content {
    margin-top: 15px;
    padding: 15px 20px;
    position: relative;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: #3C4858;
    text-decoration: none;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 18px;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    width: 50%;
    margin-bottom: 10px;
  }

  &-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &-icon {
    font-size: 36px;
    width: 50px;

    .icon-supervisor-account {
      color: #9c27b0;
    }

    .icon-favorite {
      color: #e91e63;
    }

    .icon-comment {
      color: #e91e63;
    }

    .icon-perm-media {
      color: #00bcd4;
    }
  }

  &-description {
    padding-left: 10px;
    text-align: left;

    &__title {
      color: #3C4858;
      text-decoration: none;
      font-size: 18px;
      margin: 5px 0;

      span {
        color: #999999;
        font-size: 14px;
      }
    }

     p {
       color: #999999;
       margin: 0;
       font-size: 14px;
     }
  }
}

.tab-u-item {
  display: none;
  margin-top: 20px;

  img {
    max-width: 100%;
  }
  
  &.active {
    display: block;
  }
}

.u-info-tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  &__link {
    height: 44px;
    line-height: 44px;
    color: #555555;
    font-size: 12px;
    transition: all .3s ease;
    text-decoration: none;
    border-radius: 30px;
    display: block;
    text-transform: uppercase;
    padding: 0 15px;
    min-width: 100px;
    text-align: center;
    letter-spacing: 0.5px;

    &:hover {
      background-color: rgba(200, 200, 200, 0.2);
    }

    &--active {
      background-color: #ff9800!important;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)!important;
      color: #fff!important;
    }
  }
}

.report {
  margin-top: 30px;
}

.report-table {
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #9B9196;
    border-bottom: 1px solid #EBE8E8;
    padding: 11px 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  td {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #053337;
    padding: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  tr {
    &:nth-child(2) td {
      padding-top: 20px;
    }
  }
}

.download-link {
  text-decoration: none;
  color: #1D9DFC;
  font-size: 14px;
  line-height: 17px;
  
  &:hover {
    color: #00bcd4;
  }
}

.alert-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;
  z-index: 1000;

  &__inner {
    text-align: center;

    &--rejected {
      .alert-info__title {
        color: #F95682;
      }
    }
  }

  &__icon {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    margin: auto;

    &--check {
      background: #52BA06;
      font-size: 26px;
    }

    &--rejected {
      background: #F95682;
    }

    &--email {
      background: #1D9DFC;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #4A4F57;
    margin: 30px 0 0;
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #9B9196;
    margin: 10px 0 0;
  }

  &__btn {
    width: 240px;
    margin: 30px 0 0;
  }
}

@media(max-width: 1200px) {
  .cabinet {
    .tab-item {
      padding: 40px 30px;
    }
  }
}

@media(max-width: 992px) {
  .u-info__aside,
  .u-info__cont {
    width: 100%;
  }

  .u-info__cont {
    padding-left: 0;
  }
}

@media(max-width: 768px) {
  .cabinet {
    .tab-item {
      padding: 30px 15px;
    }

    .tab-btn {
      font-size: 16px;
      height: 60px;
    }

    .packages-item__content {
      padding: 20px 15px;
    }
  }
}

@media(max-width: 568px) {
  .card-content {
    padding: 15px;
  }

  .u-info-tabs__item {
    width: 100%;
  }

  .cabinet-nav .tab-btn-row .tab-btn {
    font-size: 18px;
  }
}

@media(max-width: 360px) {
  .alert-info__title {
    font-size: 22px;
  }
}