.consultation {
	padding: 50px 0 77px;
	background: #f9942b; /* Old browsers */
	background: -moz-linear-gradient(left, #f9942b 0%, #fa21cf 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f9942b 0%,#fa21cf 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f9942b 0%,#fa21cf 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9942b', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	color: #fff;

	.section-title {
		h2,.h2 {
			font-weight: 300;
			font-size: 39px;
			color: #fff;
			letter-spacing: 0.3px;
		}
		
		p {
			color: #fff;
			margin: 11px 0;
		}
	}
}


@media(max-width: 767px) {
	.consultation {
		padding: 40px 0;

		.section-title {
			h2,.h2 {}
		}
	}
}