#footer {
  padding: 54px 0 90px;
  color: #7b90a5;
  overflow: hidden;

  .main-container {max-width: 1200px;}

  .btn-gray {
  	background: #dee3eb;  
	letter-spacing: -0.6px;	

  	span {
  		display: inline-block;
  		vertical-align: middle;
  		margin: -3px 21px 0 0;
  	}
  }

  .btn {
  	display: block;
  	padding: 19px 15px 16px;
  	margin: 0 0 10px;
  	color: #053337;
  }

  h5,.h5 {
  	color: #555f6d;
  	margin: 14px 0 27px;
  }
}

.footer__lang {
	display: block;
	vertical-align: middle;
	margin: 0 0 17px;	
	position: relative;
	text-align: left;	

	.jq-selectbox {
		display: block;
		position: relative;
		z-index: 10;
		cursor: pointer;
	}

	.jq-selectbox__select {
		font-size: 15px;
		padding: 13px 31px 14px 48px;
		display: inline-block;
		vertical-align: middle;
	}

	.jq-selectbox__trigger {
		display: block;
		position: absolute;
		top: 13px;
		right: 10px;
		.size(11px;7px);

		&:after {
			content: "\e901";
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-size: 11px;
		}
	}

	.jq-selectbox__dropdown {
		position: absolute;
		top: 100%;
		display: none;
		z-index: 100;
		left: -15px!important;
		right: -15px;
		text-align: left;
		padding: 0 15px;
		background: fade(#ecf0f7, 90%);
		.border-radius(10px);
		min-width: 150px;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				display: block;
				padding: 12px 25px 12px 50px;
				cursor: pointer;
				min-width: 150px;				
			}
		}
	}
}

.footer__nav {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		display: block;
		margin: 0 0 9px;

		a {
			display: block;
			text-decoration: none;
			color: inherit;
			font-size: 15px;

			&:hover {text-decoration: underline;}
		}
	}
}

.footer__logo {
	margin: 10px 0;
	display: inline-block;
	width: 117px;

	img {
		max-width: 100%;
	}

	.logo-gray {
		display: block;
		width: 87px;
		margin: 0 0 27px 0;
	}
}

.footer__terms{
	margin-top: 90px;
	margin: 90px -17px 0;

	a {
		display: inline-block;
		vertical-align: middle;
		margin: 0 17px;
		color: inherit;
		text-decoration: none;
		position: relative;

		&:hover {text-decoration: underline;}

		&:after {
			content: '';
			display: block;
			position: absolute;
			.square(2px);
			background: #7b90a5;
			top: 50%;
			margin: -1px 0 0 18px;
			left: 100%;
		}

		&:last-child:after {display: none;}
	}
}

.footer__socials{
	margin: 96px -17px 0;

	a {
		display: inline-block;
		vertical-align: middle;
		margin: 0 15px;
		.transition(0.3s all ease);
		color: #b5bbc0;
		text-decoration: none;

		&:hover {.opacity(0.8);}
	}
}


@media(max-width: 767px) {
	.footer__terms,
	.footer__socials {margin-top: 20px;}
}

@media (max-width: 568px){
	.footer__terms,
	.footer__socials {
		text-align: center;
	}
}