.consult-form {
	display: block;
	.clearfix();
	margin: 0 -3px;
	position: relative;

	.input-row {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		max-width: 273px;
		padding: 2px;
		margin-bottom: 15px;
	}

	input[type="text"],
	input[type="password"],
	input[type="search"],
	input[type="email"],
	textarea {
		display: block;
		width: 100%;
		border: 0;
		outline: 0;
		font-size: 15px;
		color: #fff;
		.placeholder(#fff);
		.border-radius(8px);
		background: fade(#b93739, 50%);
		padding: 22px 27px 20px;
	}

	.btn {
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;
		margin-bottom: 30px;
	}

	&.send {
		.consult-form__inner {
			opacity: 0;
		}

		 .consult-form__checkmark svg path {
			-webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
			animation: checkmark 0.25s ease-in-out 0.7s backwards;
			-webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
			animation-delay: 2s;
		}

		 .consult-form__checkmark svg circle {
			-webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
			animation: checkmark-circle 0.6s ease-in-out backwards;
			-webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
			animation-delay: 1s;
		}

		.consult-form__checkmark {
			opacity: 1;

			p {
				animation: fadeInUp 1s 2s both;
			}
		}
	}
}

.consult-form__inner {
	.transition(0.5s all ease);
	opacity: 1;
}

.consult-form__checkmark {
	.translate(-50%,0);
	position: absolute;
	top:0;
	left:50%;
	opacity: 0;

	svg {
		margin-left:auto;
		margin-right:auto;
		display: block;
	}

	p {
		text-align: center;
		font-size: 18px;
		margin:0;
		opacity: 0;
	}
}

.form-row {
  margin-bottom: 10px;
  position: relative;
  padding-left: 34px;

  &--r-control {
    padding-right: 50px;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    color: #808B9D;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  &__input {
    height: 40px;
    width: 100%;
    border: 0;
    outline: 0;
    background: #F4F5F7;
    border-radius: 4px;
    color: #222;
    padding: 0 10px;
    font-size: 13px;
    line-height: 140%;

    &::placeholder {
      color: #585C64;
    }
  }

  &__link {
    color: #585C64;
    font-size: 14px;
    line-height: 140%;
    display: inline-block;
    vertical-align: top;
  }

  &__error {
    color: #F95682;
    font-weight: 600;
    font-size: 11px;
    line-height: 140%;
    margin-top: 3px;
  }

  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #4A4F57;
    text-decoration: none;
    transition: 0.3s all ease;
    border-radius: 4px;
    
    &:hover {
      color: red;
      background: #fafafa;
    }
  }

  &__add {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #FFE241;
    text-decoration: none;
    font-size: 16px;
    color: #4A4F57;
    transition: 0.3s all ease;
    
    &:hover {
      background: #f9d928;
    }
  }
}

.text-questionnaire {
  width: 100%;
  max-width: 460px;
  margin: 9px auto;
  padding: 10px 18px;

  textarea {
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #4A4F57;
    width: 100%;
    height: 32px;
    outline: 0;
  }

  p {
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #4A4F57;
    margin: 0;
  }
}

.radio-list {
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin: 0 5px;
  }

  &__btn {
    display: block;
    cursor: pointer;
    position: relative;
  }

  &__text {
    height: 40px;
    min-width: 84px;
    padding: 0 15px;
    background: #F4F5F7;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #585C64;
    transition: 0.3s background-color ease;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked + .radio-list__text {
      background: #FFE241;
    }
  }
}

.form-center {
  max-width: 330px;
  margin: 20px auto;

  &--sm {
    max-width: 290px;
  }
}

@-webkit-keyframes checkmark {
	0% {
		stroke-dashoffset: 50px
	}

	100% {
		stroke-dashoffset: 0
	}
}

@-ms-keyframes checkmark {
	0% {
		stroke-dashoffset: 50px
	}

	100% {
		stroke-dashoffset: 0
	}
}

@keyframes checkmark {
	0% {
		stroke-dashoffset: 50px
	}

	100% {
		stroke-dashoffset: 0
	}
}

@-webkit-keyframes checkmark-circle {
	0% {
		stroke-dashoffset: 240px
	}

	100% {
		stroke-dashoffset: 480px
	}
}

@-ms-keyframes checkmark-circle {
	0% {
		stroke-dashoffset: 240px
	}

	100% {
		stroke-dashoffset: 480px
	}
}

@keyframes checkmark-circle {
	0% {
		stroke-dashoffset: 240px
	}

	100% {
		stroke-dashoffset: 480px
	}
}


.search-form {
	margin: 10px 0 30px;

	.input-row {position: relative;}

	input[type="text"],
	input[type="password"],
	input[type="search"],
	input[type="email"],
	textarea {
		display: block;
		width: 100%;
		border: 0;
		outline: 0;
		font-size: 16px;
		color: #76313b;
		.placeholder(#76313b);
		.border-radius(8px);
		background: fade(#fff, 20%);
		padding: 22px 40px 20px 33px;
		box-sizing: border-box;
	}
	
	.submit {
		display: block;
		text-decoration: none;
		color: inherit;
		position: absolute;
		top: 20px;
		right: 15px;
	}
}


@media(max-width: 1199px) {
	.consult-form .input-row {
		max-width: 24%;
	}
}

@media(max-width: 1023px) {
	.consult-form .input-row {
		max-width: 49%;
	}
}

@media(max-width: 567px) {
	.consult-form .input-row {
		max-width: 100%;
	}

	.search-form {
		input[type="text"],
		input[type="password"],
		input[type="search"],
		input[type="email"],
		textarea {
			font-size: 11px;   
			padding: 22px 40px 20px 20px;
		}
	}
}