#header {
  display: block;
  padding: 23px 60px 20px 38px;
  font-size: 15px;
  position: relative;
  .transition(0.3s all ease);

  @media (min-width: 768px) {
    &.header__main-page {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 800;
    }

    &.header__dark {
      background: fade(#333, 60%);
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 18px 0 rgba(0, 0, 0, 0.1), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
      padding-top: 8px;
      padding-bottom: 5px;

      .btn-pale {
        background: #ffe241;
        color: #053337;

        &:hover {
          background: #ffda0e;
        }
      }
    }
  }
}


.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 43px;
  padding: 4px 0;
}

.header-nav {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.header-nav__menu {
  display: block;
  padding: 0;
  margin: 0 -27px;
  list-style: none;
  .clearfix();

  li {
    float: left;

    a {
      display: block;
      padding: 7px 27px 0;
      color: #fff;
      text-decoration: none;
      .transition(0.3s all ease);

      &:hover {
        color: #ffe241;
      }
    }
  }
}

.header__user-block {
  text-align: right;
  margin: -1px -12px 0;

  a {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    margin: 0 9px;

    &:hover {
      text-decoration: underline;
    }
  }

  .log-in {
    padding: 13px 1px;
  }
}

.header__lang {
  display: inline-block;
  vertical-align: middle;
  margin: 0 28px;
  position: relative;
  text-align: left;

  .jq-selectbox {
    display: block;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }

  .jq-selectbox__select {
    font-size: 15px;
    padding: 13px 31px 14px 48px;
    display: inline-block;
    vertical-align: middle;
  }

  .jq-selectbox__trigger {
    display: block;
    position: absolute;
    top: 13px;
    right: 10px;
    .size(11px; 7px);

    &:after {
      content: "\e901";
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 11px;
    }
  }

  .jq-selectbox__dropdown {
    position: absolute;
    top: 100%;
    display: none;
    z-index: 100;
    left: -15px !important;
    right: -15px;
    text-align: left;
    padding: 0 15px;
    background: fade(#361f27, 90%);
    .border-radius(10px);
    min-width: 150px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: block;
        padding: 12px 25px 12px 50px;
        cursor: pointer;
        min-width: 150px;
      }
    }
  }
}

.lang-uar {
  background: url('@{rootUrl}lang-uar.png') no-repeat center left;
  background-size: 44px 44px;
}

#mob-btn {
  display: none;
}

.header-c {
  padding: 45px 52px;

  &__logo {
    width: 90px;
    display: inline-block;
    vertical-align: top;

    &-img {
      display: block;
      width: 100%;
    }
  }
}


@media (max-width: 1199px) {
  #header {
    padding: 23px 40px 20px;
    font-size: 14px;
  }

  .header__lang {
    margin: 0 15px 0 0;
  }

  .header-nav__menu {
    margin: 0 -10px;

    li {
      a {
        padding: 7px 10px 0;
      }
    }
  }
}

@media (max-width: 1023px) {
  #header {
    padding: 20px 12px;
  }

  .header-c {
    padding: 20px 15px;
  }

  .header__logo {
    margin: 0;
  }

  #mob-btn {
    float: left;
    margin: 8px 20px 8px 0;
    position: relative;
    z-index: 999;
    .size(22px; 20px);
    display: inline-block;
    vertical-align: top;

    &:hover {
      span {
        .opacity(0.8);
      }
    }

    &.active {
      span {
        margin-top: 0;

        &:nth-child(1) {
          .rotate(-45deg);
          margin: 9px 0 0 0;
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          .rotate(45deg);
          margin: -3px 0 0 0;
        }
      }
    }

    span {
      display: block;
      width: 22px;
      height: 3px;
      background: #fff;
      margin-top: 5px;
      .transition(0.3s all ease);

      &:first-child {
        margin: 0;
      }
    }
  }

  .header-nav {
    padding: 60px 55px 20px 55px;
    background: fade(#361f27, 90%);
    .border-radius(0 10px 10px 0);
    .translate(-100%; 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 220px;
    z-index: 990;
    .transition(0.4s all ease-out);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);

    &.active {
      .translate(0; 0);
    }
  }

  .header-nav__menu {
    margin: 0;

    li {
      display: block;
      float: none;
      width: 100%;

      a {
        padding: 5px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .header__user-block {
    .btn-pale {
      display: none;
    }
  }

  .header__lang {
    display: none;
  }
}

