.icon-logo {
    background: url("@{rootUrl}iboost_logo.svg") no-repeat center;
    width: 90px;
    height: 27px;
    display: block;
    background-size: cover;
}

.icon-hand {
    background: url("@{rootUrl}hand_stop.svg") no-repeat center;
    width: 36px;
    height: 46px;
    display: inline-block;
    background-size: cover;
}

.icon-brain {
    background: url("@{rootUrl}mozg.svg") no-repeat center;
    width: 44px;
    height: 46px;
    display: inline-block;
    background-size: cover;
}

.icon-handshake {
    width: 49px;
    height: 44px;
    background: url("@{rootUrl}shake.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

.icon-hand_sm {
    background: url("@{rootUrl}hand_stop.svg") no-repeat center;
    width: 20px;
    height: 26px;
    display: inline-block;
    background-size: cover;
}

.icon-brain_sm {
    background: url("@{rootUrl}mozg.svg") no-repeat center;
    width: 25px;
    height: 26px;
    display: inline-block;
    background-size: cover;
}

.icon-handshake_sm {
    width: 28px;
    height: 24px;
    background: url("@{rootUrl}shake.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

.icon-lightning {
    width: 53px;
    height: 53px;
    background: url("@{rootUrl}bolt.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

.icon-stars_orange {
    width: 37px;
    height: 20px;
    background: url("@{rootUrl}stars_orange.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

.icon-stars_blue {
    width: 37px;
    height: 20px;
    background: url("@{rootUrl}stars_blue.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

.icon-stars_yellow {
    width: 37px;
    height: 20px;
    background: url("@{rootUrl}stars_yellow.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

.icon-stars_red {
    width: 37px;
    height: 20px;
    background: url("@{rootUrl}stars_red.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

.icon-connection_cyan {
    width: 36px;
    height: 35px;
    background: url("@{rootUrl}connection_cyan.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

.icon-star {
    width: 22px;
    height: 20px;
    background: url("@{rootUrl}star.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

.icon-insta {
    width: 13px;
    height: 13px;
    background: url("@{rootUrl}instagram.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

.stitches-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.icon-insta_sm {
    width: 11px;
    height: 11px;
    background: url("@{rootUrl}instagram.svg") no-repeat center;
    display: inline-block;
    background-size: cover
}

.icon-play {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    .transition(0.3s all ease);
    font-size: 28px;
}

.icon-twitter {
    font-size: 18px;
    color: #a1b0b5;
    text-decoration: none;
}

.icon-search {
    font-size: 16px;
    color: #a1b0b5;
    text-decoration: none;
}


.icon-check {
    color: #fff;
    font-size: 12px;
}

.icon-arrow-right {
    color: #1d9dfc;
    font-size: 12px;

}

.icon-arrow-left {
    color: #1d9dfc;
    font-size: 12px;
}

.icon-carret-down_gray {
    color: #aec1cb;
    font-size: 11px;
}

.icon-arrow-right-gray {
    color: #a5b2b8;
    font-size: 12px;

    &:before {
        content: "\e909";
    }
}

.icon-laptop {
    color: #bcc0c6;
    font-size: 16px;
}

.icon-gear {
    color: #bcc0c6;
    font-size: 19px;
}


.icon-check-blue {
    color: #1d9dfc;
    font-size: 15px;

    &:before {
        content: "\e905";
    }
}

.icon-search-white {
    color: #fff;
    font-size: 20px;
}

.icon-search-red {
    font-size: 20px;
}

.icon-logo_sm {
    width: 32px;
    height: 19px;
    background: url("@{rootUrl}iboost_logo_2.svg") no-repeat center;
    display: inline-block;
    background-size: cover;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?uv4yxz');
    src:  url('fonts/icomoon.eot?uv4yxz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uv4yxz') format('truetype'),
    url('fonts/icomoon.woff?uv4yxz') format('woff'),
    url('fonts/icomoon.svg?uv4yxz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-canceled:before {
  content: "\e926";
}
.icon-check2:before {
  content: "\e927";
}
.icon-email:before {
  content: "\e928";
}
.icon-comment:before {
  content: "\e900";
}
.icon-favorite:before {
  content: "\e901";
}
.icon-perm-media:before {
  content: "\e902";
}
.icon-supervisor-account:before {
  content: "\e903";
}
.icon-city:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e908";
}
.icon-pass:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-pluse:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-arrow-pointing-left:before {
  content: "\e90d";
}
.icon-chevron-arrow-down:before {
  content: "\e90e";
}
.icon-facebook-logo:before {
  content: "\e90f";
}
.icon-globe_gear:before {
  content: "\e910";
}
.icon-lock:before {
  content: "\e911";
}
.icon-mark:before {
  content: "\e912";
}
.icon-mark_1:before {
  content: "\e913";
}
.icon-play:before {
  content: "\e914";
}
.icon-read:before {
  content: "\e915";
}
.icon-right-arrow:before {
  content: "\e916";
}
.icon-search:before {
  content: "\e917";
}
.icon-search_2:before {
  content: "\e918";
}
.icon-settings:before {
  content: "\e919";
}
.icon-twitter:before {
  content: "\e91a";
}
.icon-vk:before {
  content: "\e91b";
}
.icon-cleaning:before {
  content: "\e91c";
}
.icon-clones:before {
  content: "\e91d";
}
.icon-competitions:before {
  content: "\e91e";
}
.icon-direct_2:before {
  content: "\e91f";
}
.icon-neural:before {
  content: "\e920";
}
.icon-promotion:before {
  content: "\e921";
}
.icon-recomendations:before {
  content: "\e922";
}
.icon-repost:before {
  content: "\e923";
}
.icon-save:before {
  content: "\e924";
}
.icon-telegram:before {
  content: "\e925";
}
