.mainscreen {
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  padding-bottom: 14px;
  overflow: hidden;
  position: relative;

  @media(min-width: 768px) {
    padding-top:90px;
  }

  .main-container {
    position: relative;
  }

  .consult-form {
    position: relative;
    z-index:10;
  }
}

.mainscreen__title {
  margin-top: 116px;
  font-size: 16px;

  p {
    line-height: 1.65;
    margin: 0 60px 23px 0;
  }
}

.mainscreen__h2 {
  margin: 0 0 25px -3px;
  font-size: 43px;
  color: inherit;
  font-family: 'Solomon Sans';
  letter-spacing: 0.1px;
}

.mainscreen__btn-row {
  margin: 0 -10px 42px;

  a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }

  .link {
    margin: 0 14px 6px 14px;
    font-size: 14.5px;

    &:hover {
      text-decoration: none;
    }
  }
}

.thesis {
  margin: 0 -50px 25px;
}

.thesis__item {
  display: inline-block;
  vertical-align: top;
  margin: 20px 59px 20px 58px;
  font-size: 14px;
  color: #fff;

  .icon {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 18px 0 0;
  }
}

.bn-animation {
  position: absolute;
  top: 8px;
  right: -248px;
  .size(826px, 578px);
  //background: url("@{rootUrl}dd.png") no-repeat center top;
}

.bn-animation__phone {
  background: url("@{rootUrl}bn-animation-phone.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  .size(532px, 441px);
  position: absolute;
  top: -33px;
  right: -20px;
  animation: fadeInRight 1s;
}

.bn-animation__user {
  position: absolute;
  top: 103px;
  right: 380px;
  z-index: 2;
  animation: fadeInUp 1s;
}

.bn-animation__logo {
  position: absolute;
  top: 165px;
  right: 442px;
  z-index: 3;
  animation: fadeInLeft 1s;
}

.bn-animation__logo-shadow {
  z-index: 2;
  .size(98px, 104px);
  background: url("@{rootUrl}bn-animation-logo-shadow.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 163px;
  right: 387px;
  opacity: 0.8;
  animation: fadeInLeft 1s;

  &.active {
    -webkit-animation: wave 6s 0.1s infinite linear;
    -moz-animation: wave 6s 0.1s infinite linear;
    animation: wave 6s 0.1s infinite linear;
  }
}

.bn-animation__user-circle {
  position: absolute;
  top: 90px;
  right: 371px;
  z-index: 2;
  width: 79px;

  fill: transparent;
  stroke-width: 12;
  stroke-miterlimit: 10;
  animation: fadeInDown 1s;

  path {
    position: relative;
  }
}

.bn-animation__user-circle-1 {
  stroke: #999;
  z-index: 1;
  animation: userCircleColor 5s linear infinite;
}

.bn-animation__user-circle-2 {
  stroke: #f0008e;
  z-index: 2;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: dash 15s linear alternate infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1200;
    stroke-dasharray: 1200;
  }

  50% {
    stroke-dashoffset: 700;
    stroke-dasharray: 500;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1200;
  }
}

@keyframes userCircleColor {
  0%, 100% {
    stroke: #999;
  }

  50% {
    stroke: #c19be3;
  }
}

.bn-a__line-left-cont {
  position: absolute;
  top: 202px;
  right: 506px;
  z-index: 2;
  width: 160px;
}

.bn-a__line-left {
  fill: transparent;
  stroke: fade(#fff, 40%);
  stroke-width: 0.5;
  stroke-miterlimit: 1;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: dashLineLeft 4s 1s linear;
  -webkit-animation-fill-mode: forwards;
}

.bn-a__line-right-cont {
  position: absolute;
  top: 235px;
  right: 277px;
  z-index: 2;
  width: 222px;
  stroke-miterlimit: 1;
  stroke-dasharray: 295;
  stroke-dashoffset: 295;
}

.bn-a__line-right {
  fill: transparent;
  stroke: fade(#fff, 30%);
  stroke-width: 0.5;
  animation: dashLineRight 4s 1.5s linear;
  -webkit-animation-fill-mode: forwards;
}

.bn-a__line-left__circle,
.bn-a__line-right__circle {
  animation: pulse 1s infinite;
  opacity: 0;
}

.opacity-null {
  opacity: 0;
}

.bn-animation__left-layers {
  position: absolute;
  top: 19px;
  right: 467px;
  z-index:1;
  animation: fadeInDown 1s;
}

.bn-animation__layer {
  width: 400px;
  height: 400px;
  -webkit-animation: wave 46s 0.1s infinite linear;
  -moz-animation: wave 46s 0.1s infinite linear;
  animation: wave 46s 0.1s infinite linear;
}

.bn-animation__right-layers {
  position: absolute;
  top: 316px;
  right: 26px;
  z-index: 1;
  animation: fadeInUp 1s;
}

.bn-a__line-right__heart-1 ,
.bn-a__line-right__heart-2 {
  opacity: 0;
}

.bn-animation__layer-1 {
  fill-opacity: 0.3;
  fill: #b74865;
  stroke: #d93983;
  stroke-width: 1;
  stroke-opacity: 0.5;
  width: 325px;
  position: absolute;
  top: 82px;
  right: 24px;
}

.bn-animation__layer-2 {
  fill: #b32b5b;
  stroke: #d93983;
  stroke-width: 1;
  fill-opacity: 0.6;
  position: absolute;
  top: 73px;
  right: 78px;
  width:233px;
  z-index:2;
  stroke-opacity: 0.5;
}

.bn-animation__layer-3 {
  fill-opacity: 0.5;
  width:150px;
  z-index:3;
  position: absolute;
  top: 128px;
  right: 109px;
}

.bn-animation__layer-4 {
  fill-opacity: 0.3;
  fill: #a93a64;
  stroke: #d93983;
  stroke-width: 1;
  width: 325px;
  position: absolute;
  top: 52px;
  right: 35px;
  z-index: 4;
  stroke-opacity: 0.5;
}

.bn-animation__layer-5 {
  fill: #b32b5b;
  stroke: #d93983;
  stroke-width: 1;
  fill-opacity: 0.6;
  width: 154px;
  position: absolute;
  top: 98px;
  right: 118px;
  z-index: 6;
  stroke-opacity: 0.5;
}

.bn-animation__layer-6 {
  z-index: 7;
  position: absolute;
  width: 150px;
  top: 80px;
  right: 167px;
}

.bn-animation__left-layers,
.bn-animation__right-layers {
  &.active {
    .bn-animation__layer-1,
    .bn-animation__layer-2,
    .bn-animation__layer-3,
    .bn-animation__layer-4,
    .bn-animation__layer-5,
    .bn-animation__layer-6 {
      -webkit-animation: jello 1000ms linear both;
      animation: jello 1000ms linear both;
      -webkit-transform-origin: 50% 66.666666666666666%;
      -ms-transform-origin: 50% 66.666666666666666%;
      transform-origin: 50% 66.666666666666666%;
    }
  }
}



.bn-animation__layer-1 {
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.bn-animation__layer-2 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.bn-animation__layer-3 {
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
}

.bn-animation__layer-4 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.bn-animation__layer-5 {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}

.bn-animation__layer-6 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

@media (max-width: 1023px) {
  .thesis {
    margin: 0 -25px 25px;
  }

  .thesis-item {
    margin: 15px 25px;
  }

  .mainscreen__title {
    margin-top: 100px;
  }

  .bn-animation__left-layers ,
  .bn-animation__right-layers ,
  .bn-a__line-left-cont ,
  .bn-a__line-right-cont {
    display: none;
  }
}

@media (max-width: 768px) {
  .thesis__item {
    margin: 20px 30px;
  }
}

@media (max-width: 767px) {
  .bn-animation {
    top: 257px;
    right: -404px;
  }

  .thesis {
    margin: 0 0 25px;
  }

  .thesis__item {
    width: 100%;
    margin: 10px 0;
  }

  .mainscreen__title {
    margin-top: 80px;
  }

  .mainscreen__h2 {
    font-size: 33px;
  }

  .mainscreen__btn-row a {
    margin: 10px;
  }

  .mainscreen__btn-row .link {
    margin: 15px 10px;
  }

  .mainscreen__title {
    position: relative;
    z-index:100;
  }
}

@media (max-width: 567px) {
  .mainscreen__title {
    margin-top: 32px;
    font-size: 14px;

    p {
      margin: 0 0 20px;
    }
  }

  .mainscreen__h2 {
    font-size: 27px;
  }

  .mainscreen__btn-row  {
    margin-bottom:15px;
  }
}