.offers {
	padding: 15px 0 112px;
	
	.tab-btn-row {
		.clearfix();
		max-width: 1120px;
		margin: 0 auto 70px;
		border-bottom: 1px solid #ebe8e8;
		position: relative;
		z-index: 1;
	}

	.tab-btn {
		display: block;
		float: left;
		width: 25%;
		text-align: center;
		position: relative;
		z-index: 100;
		text-decoration: none;
		color: inherit;
		.transition(0.3s al ease);

		&.active,&:hover {
			color: @blue;
			&:before {width: 100%;}
			h4,.h4 {color: @blue;}
		}

		&.active {
			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 6px 0 6px;
				border-color: #69c3ff transparent transparent transparent;
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -6px;
			}
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			left: 50%;
			.translate(-50%;0);
			width: 0;
			height: 1px;
			background: #69c3ff;
			.transition(0.3s al ease);
		}

		h4,.h4 {
			color: #777e8d;
			min-height: 55px;
			.transition(0.3s al ease);
		}

		.icon-block {
			display: block;
			.center();
			margin-bottom: 20px;
			height: 46px;
		}
	}

	.tab-item {
		max-width: 1043px;
		margin: 0 auto;

		[class *="pure-u"] {position: relative;}

		&.tab-item_wide {max-width: 100%;}
    }	
}

@media(max-width: 767px) {
	.offers .tab-btn {
		h4,.h4 {font-size: 13px;}
	}
}

@media(max-width: 567px) {
	.offers .tab-btn {
		h4,.h4 {font-size: 10px;}
	}
	.offers .tab-btn-row {margin-bottom: 20px;}

	.offers .tab-btn h4, .offers .tab-btn .h4 {
		min-height: 35px;
	}
}