.packages {
  padding: 29px 0 46px;

  .section-title {
    h5, .h5 {
      margin: 0 0 10px;
    }

    p {
      margin: 10px 0 28px;
    }
  }

  .pure-g {
    margin: 0 -10px;

    [class *="pure-u"] {
      padding: 0 10px;
    }
  }

  .main-container {
    max-width: 1063px;
  }
}

.packages-item {
  display: block;
  background: #fff;
  .border-radius(5px);
  overflow: hidden;
  font-size: 14px;
  color: #585c64;
  margin-bottom: 37px;
  .box-shadow(0 5px 10px fade(#000, 20%));

  &.packages-busines {
    .packages-item__head {
      color: #fff !important;
      background: #28dbcb; /* Old browsers */
      background: -moz-linear-gradient(left, #28dbcb 0%, #1d9efb 100%, #7db9e8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #28dbcb 0%, #1d9efb 100%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #28dbcb 0%, #1d9efb 100%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28dbcb', endColorstr='#7db9e8',GradientType=1); /* IE6-9 */

      .packages-item__title {
        color: inherit;

        .sub-text {
          color: inherit;
        }
      }
    }

    .currency {
      background: fade(#fff, 20%);
      .border-radius(5px);
    }
  }

  &.packages-vip {
    .packages-item__head {
      color: #fff !important;
      background: #f9942b; /* Old browsers */
      background: -moz-linear-gradient(left, #f9942b 0%, #fa21cf 100%, #7db9e8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #f9942b 0%, #fa21cf 100%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #f9942b 0%, #fa21cf 100%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9942b', endColorstr='#7db9e8',GradientType=1); /* IE6-9 */

      .packages-item__title {
        color: inherit;

        .sub-text {
          color: inherit;
        }
      }
    }

    .currency {
      background: fade(#fff, 20%);
      .border-radius(5px);
    }
  }

  .btn {
    color: #053337;
    width: 100%;
    max-width: 240px;
    padding-left: 0;
    padding-right: 0;
  }
}

.packages-item__head {
  display: block;
  padding: 21px 23px 17px 23px;
  background: #e7eaee;
  .clearfix();
}

.packages-item__title {
  color: #4a4f57;
  font-size: 27px;
  font-weight: 400;
  float: left;
  margin: 4px 0 0;

  .sub-text {
    display: block;
    margin: 0 0 0 3px;
    font-size: 14px;
    font-family: 'Solomon Sans Book';
    color: fade(#556071, 90%);
    font-weight: 400;
  }
}

.packages-item__price {
  float: right;
  text-align: right;
  font-size: 12px;
  margin: 0 4px 0 0;

  .value {
    font-size: 30px;
    display: block;
    line-height: 1.1;
    margin: 0 -4px -2px 0;
    font-family: 'Solomon Sans Book';
  }

  .currency {
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 7px;
    letter-spacing: 1px;
    background: #fff;
    line-height: 1.2;
    .border-radius(5px);
  }
}

.packages-item__content {
  padding: 26px 30px;
  position: relative;
  display: block;
}

.packages-item__subscription,
.packages-item__order {
  display: none;

  p {
    color: #585C64;
    font-size: 14px;
    line-height: 140%;
    margin: 0;
  }
}

.hide {
  display: none!important;
}

.show {
  display: block!important;
}

.packages-item__row {
  display: block;
  padding-left: 33px;
  font-size: 14px;
  color: #585c64;

  .icon {
    float: left;
    margin: 0 0 0 -33px;
    font-size: 20px;
  }

  p {
    margin: 0 0 20.1px;
    letter-spacing: -0.3px;
    line-height: 1.45;

    b {
      letter-spacing: 0;
    }
  }
}

.packages-details {
  color: #697281
}

.packages-details__row {
  display: block;
  .clearfix();
  padding: 1px 15px 24px 57px;
  letter-spacing: -0.3px;
  line-height: 1.45;

  .icon {
    float: left;
    margin: 6px 0 0 -34px;
  }
}

.packages-item__back {
  display: inline-block;
  vertical-align: top;
  color: #585C64;
  font-size: 14px;
  line-height: 140%;
}

.packages-choice {
  padding: 0;
  margin: 11px -5px 45px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    width: 33.3%;
  }
  
  &__btn {
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 13px;
    letter-spacing: -0.02em;
    font-weight: 600;
    color: #585C64;
    text-align: center;
    background: #F4F5F7;
    transition: 0.3s color ease, 0.3s background-color ease;
    
    &:hover {
      background: #ddd;
    }

    &--active {
      background: #FFE241!important;
    }
  }
  
  &__discount {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #1ABF52;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 3px;
  }
}

.packages-form {
  margin-top: 10px;

  &__btn {
    margin-top: 20px;
    margin-bottom: 22px;
  }
}

.payment-method {
  padding: 0;
  margin: 10px 0 0;
  list-style: none;

  &__item {
    margin-bottom: 10px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    min-height: 32px;
    align-items: center;
    cursor: pointer;
  }

  &__cont {
    position: relative;
    padding-left: 34px;
    color: #585C64;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
  }

  &__img-w {
    margin-left: auto;
  }
  
  &__img {
    display: block;
    max-width: 70px;
  }

  &__radio {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;

    &-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      &:checked + .payment-method__radio-cont {
        border: 6px solid #FFE241;
      }
    }

    &-cont {
      width: 20px;
      height: 20px;
      margin: 2px;
      border-radius: 100%;
      border: 1px solid #808B9D;
      transition: 0.3s all ease;
    }
  }
}
