.relevance {
	padding: 38px 0 62px;

	.main-container {
		max-width: 930px;
	}
}

.relevance__category-row {
	display: block;	
	margin: 11px -11px 82px;
	.clearfix();
}

.relevance__category-btn {
	display: block;
	float: left;
	padding: 0 32px;
	text-align: center;
	text-decoration: none;
	color: inherit;
	position: relative;

	&.active {
		color: #e8ba30;

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			margin: 10px 0 0 -6px;
			.size(12px;7px);
			//background: url('@{rootUrl}carret-down_gray.png') no-repeat center;
		}

		i {
			&:before {
				color: #e8ba30;
			}
		}
	}
}

.relevance__icon-block {
	display: block;
	height: 40px;
	margin-bottom: 10px;
	font-size:30px;
	.transition(0.3s all ease);
	color: #000;

	i {
		&:before {
			color: #000;
			.transition(0.3s all ease);
		}
	}

	.icon {
		position: relative;
		top: 50%;
		.translate(0;-50%);
	}

	&:hover  {
		color: #e8ba30;

		i {
			&:before {
				color: #e8ba30;
			}
		}
	}
}

.relevance__btn-text {
	font-size: 12px;
	text-transform: uppercase;
	color: #647086;
	font-weight: 700;
}


@media(max-width: 1023px) {
	.relevance__category-row {text-align: center;}
	.relevance__category-btn {
		display: inline-block;
		float: none;
		padding: 0 20px 30px;

		&.active:after {margin: -20px 0 0 -6px;}
	}
}

@media(max-width: 768px) {
	.relevance__icon-block {
		font-size:20px;
		height:20px;
	}

	.relevance__btn-text {
		font-size:11px;
	}

	.relevance__category-row {
		margin-bottom:0;
	}

	.relevance__category-btn {
		padding: 0 10px 20px;
	}
}