.reviews {
	padding: 20px 0;
}

.reviews__slider,
.reviews__stack {
	padding: 0 69px;
	margin: 0;

	.slick-arrow {
		position: absolute;
		top: 40%;
		margin: -20px 0 0 0;
		.square(40px);
		z-index: 100;
		text-align: center;
		text-decoration: none;

		span {
			display: block;
			margin: -6px auto 0;
			position: relative;
			top: 50%;
		}
	}

	.slick-prev {left: 30px;}
	.slick-next {right: 30px;}

	.item {
		display: block;
		position: relative;
		padding: 40px;
		perspective: 1200px;
		visibility: hidden;
		opacity: 1 !important;
		z-index: 950 !important;

		>img {
			position: absolute;
			display: block;
			max-width: 100%;
			z-index: -1;
		}

		&.slick-current {
			visibility: visible;
			z-index: 951 !important;

			.item__inner {
				-webkit-animation: scaleUp .7s ease both;
				animation: scaleUp .7s ease both;
			}
		}
		&.slick-prev {
			visibility: visible;
			z-index: 952 !important;

			.item__inner {
				-webkit-animation: scaleDownUp .5s ease both;
				animation: scaleDownUp .5s ease both;
			}
		}
	}

	.item__bg-pic-1 {
		top: 47px;
		left: 38px;
		.rotate(-23deg);
	}
	.item__bg-pic-2 {
		top: 35px;
		left: 192px;
		.rotate(15deg);
	}
	.item__bg-pic-3 {
		top: 28px;
		right: 37px;
		.rotate(24deg);
	}

	.item__inner {
		display: block;
		position: relative;
		z-index: 10;
		background: #fff;
		.border-radius(10px);
		padding: 20px;
		text-align: center;
	}
}

.reviews__stack .item {
	position: absolute;
	width: 100%;
}

.reviews__pic {
	display: block;
	margin: -20px auto -12px;
	position: relative;
	.translate(0;-50%);
	.square(82px); 
	.box-shadow(0 7px 8px fade(#515682, 17%));
	.border-radius(100%);
	border: 2px solid #fff;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}

.reviews__content {
	font-size: 18px;
	color: #324958;
	margin-bottom: 41px;
	padding: 0 0 0 18px;

	p {margin: 0;}
}

.reviews__rating {
	margin: 15px 0;
}

.reviews__details {
	font-size: 12px;
	color: #647086;
	text-align: left;

	p {margin: 3px 0;}

	.btn {margin: 0 6px;}

	.social-link {
		color: @blue;
		text-decoration: none;

		.icon {
			display: inline-block;
			vertical-align: middle;
			margin: -2px 5px 0 0;
		}

		&:hover {text-decoration: underline;}
	}
}

.reviews__icon-row {
	margin: 0 -2px;

	span {
		display: inline-block;
		vertical-align: middle;
		margin: 3px 12px 0 13px;
	}
}

.statistics {
	max-width: 570px;
	margin: 30px auto 11px;
}

.statistics__item {
	display: block;
	text-align: center;

	h6,.h6 {
		font-size: 11px;
		color: #647086;
		letter-spacing: 0.9px;
	}

	.value {
		font-size: 36px;
		color: @blue;
		letter-spacing: 2.4px;
		font-family: 'Solomon Sans Book';
	}
}

.reviews__log-in {
	font-size: 27px;
	text-align: center;
	color: #485b79;
	font-family: 'Solomon Sans Book';

	.btn {
		display: inline-block;
		vertical-align: middle;
		margin: 0 20px;
	}
}


@media(max-width: 1023px) {
	.reviews__slider,
	.reviews__stack {
		padding: 0;

		.slick-arrow, .button--sonar {width: 30px;}

		.slick-prev, .button--reject {left: 0;}
		.slick-next, .button--accept {right: 0;}
	}
}


@media(max-width: 767px) {
	.reviews__icon-row {
		text-align: center;
		margin: 10px 0 0;
	}

	.reviews__slider,.reviews__stack {
		.item {padding: 40px 20px;}
	}

	.reviews__content {font-size: 15px;}

	.statistics__item {
		h6,.h6 {min-height: 40px;}		
	}
}

@media(max-width: 567px) {
	.reviews__slider,.reviews__stack {
		.item__bg-pic-1 {
			top: 47px;
			left: 5%;
			.rotate(-23deg);
		}
		.item__bg-pic-2 {
			top: 35px;
			left: 35%;
			.rotate(15deg);
		}
		.item__bg-pic-3 {
			top: 28px;
			right: 5%;
			.rotate(24deg);
		}
	}

	.reviews__pic {margin: -20px auto -20px;}

	.reviews__content {margin-bottom: 15px;}

	.reviews__details {
		text-align: center;

		.btn {margin: 10px 6px 0;}
		.text-right {text-align: center;}
	}

	.statistics__item {
		h6,.h6 {min-height: 0;}		
	}

	.reviews__log-in {
		font-size: 25px;

		.btn {margin-top: 10px;}
	}

	.reviews__slider,.reviews__stack {
	 	.item {padding: 40px 0px;}
	}
}

/*
* Transitions
*/
.pt-page-scaleUp {
	-webkit-animation: scaleUp .7s ease both;
	animation: scaleUp .7s ease both;
}

.pt-page-scaleDownUp {
	-webkit-animation: scaleDownUp .5s ease both;
	animation: scaleDownUp .5s ease both;
}

.pt-page-scaleDown {
	-webkit-animation: scaleDown .7s ease both;
	animation: scaleDown .7s ease both;
}

.pt-page-scaleUpDown {
	-webkit-animation: scaleUpDown .5s ease both;
	animation: scaleUpDown .5s ease both;
}

@-webkit-keyframes scaleUp {
	from {
		opacity: 0;
		-webkit-transform: scale(.8);
	}
}

@keyframes scaleUp {
	from {
		opacity: 0;
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}
}

@-webkit-keyframes scaleDownUp {
	from {
	}
	to {
		opacity: 0;
		-webkit-transform: scale(1.2);
	}
}

@keyframes scaleDownUp {
	from {
	}
	to {
		opacity: 0;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@-webkit-keyframes scaleDown {
	from {
	}
	to {
		opacity: 0;
		-webkit-transform: scale(.8);
	}
}

@keyframes scaleDown {
	from {
	}
	to {
		opacity: 0;
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}
}

@-webkit-keyframes scaleUpDown {
	from {
		opacity: 0;
		-webkit-transform: scale(1.2);
	}
}

@keyframes scaleUpDown {
	from {
		opacity: 0;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}