.sign-in {
  width: 1000px;
  margin: 34px auto;
  display: flex;
  flex-wrap: wrap;
  background: #FFFFFF;
  border-radius: 20px;

  &__cont {
    padding: 95px 60px;
    width: 393px;

    h3 {
      font-weight: bold;
      font-size: 27px;
      font-family: 'Solomon Sans', sans-serif;
      margin: 0 0 8px;
    }
  }

  &__info {
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    color: #fff;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      background: linear-gradient(78.01deg, #F9932C 8.03%, #E072C9 100%);
      opacity: 0.8;
      width: 100%;
      height: 100%;
    }

    &-cont {
      position: relative;
      z-index: 50;
      padding: 100px 59px;
    }
    
    h3 {
      font-weight: bold;
      font-size: 27px;
      font-family: 'Solomon Sans', sans-serif;
      line-height: 1.18;
      margin: 0 0 24px;
    }

    p {
      font-size: 14px;
      line-height: 140%;
      margin: 0 0 22px;
    }
  }

  &__registration {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #9B9196;

    a {
      color: #F92EBB;
      font-weight: bold;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__form {
    margin: 30px 0 0;

    &-forgot {
      margin: 2px 0 0 34px;
    }

    &-submit {
      padding: 19px 15px 16px;
      display: block;
      width: auto;
      margin: 20px 0 0;
    }
  }
}

@media(max-width: 1023px) {
  .sign-in {
    width: auto;
    margin-top: 20px;

    &__info {
      min-height: 400px;

      &-cont {
        padding: 60px 30px;
      }
    }

    &__cont {
      padding: 60px 30px;
      width: 330px;
    }
  }
}

@media(max-width: 750px) {
  .sign-in {
    max-width: 400px;

    &__cont {
      width: 100%;
      padding: 30px 25px;
    }

    &__info {
      flex: 0 0 100%;
      max-width: 100%;
      border-radius: 0 0 20px 20px;
      min-height: 0;

      &-cont {
        padding: 30px 25px;
      }
    }
  }
}