.tab-block {
	position: relative;
}

.tab-item {
	visibility: hidden;
	position: absolute;
	left: -99999px;
	.clearfix();
	
	&.active {
		visibility: visible;
		position: relative;
		left: auto;	
		-webkit-animation-duration: 0.8s;
		animation-duration: 0.8s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
	}
}


@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
